.optionsCategory input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.optionsCategoryButton {
  align-items: flex-start;
  border-radius: 4px;
  color: var(--acrylic-color-light-3);
  cursor: pointer;
  display: flex;
  max-width: 100%;
  touch-action: manipulation;
  transition: background-color 0.2s, transform 0.2s, color 0.2s;
  user-select: none;
  width: 100%;
}

.optionsCategoryButton:hover {
  background-color: var(--acrylic-color-light-1);
  transform: translateY(-1px);
}

.optionsCategory input:checked + .optionsCategoryButton {
  background-color: var(--acrylic-color-light-2);
}

.optionsCategoryLabel {
  line-height: 40px;
  overflow: hidden;
  padding-right: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionsCategoryIcon {
  align-items: center;
  display: flex;
  fill: var(--acrylic-color-light-3);
  height: 24px;
  justify-content: center;
  margin: 8px;
  width: 24px;
}

.optionsCategoryButton:hover .optionsCategoryIcon {
  fill: currentcolor;
}
