.chipList {
  padding-top: var(--chip-hover-shift);
}

.chipListColumns {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--bookmark-column-min-width), 1fr));
  justify-items: start;
}

.chipListInline {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.chipListItem {
  max-width: var(--bookmark-column-min-width);
}
