@import "../variables.css";

.bookmark-item {
  all: unset;
  display: block;
  max-width: var(--bookmark-column-min-width);
}

.bookmark {
  all: unset;
  background-color: var(--bookmark-background-color);
  background-position: 8px;
  background-repeat: no-repeat;
  background-size: 16px;
  border-radius: 1rem;
  color: var(--bookmark-text-color);
  cursor: pointer;
  display: block;
  font-family: var(--font-family-sans-serif);
  font-size: 0.875em;
  line-height: 2rem;
  overflow: hidden;
  padding-left: 32px;
  padding-right: 12px;
  text-overflow: ellipsis;
  text-shadow: rgba(33, 33, 33, 1) 0 0 3px;
  touch-action: manipulation;
  transition: background-color 0.5s;
  white-space: nowrap;
}

.bookmark:hover {
  background-color: var(--bookmark-background-color-hover);
}

.bookmark:focus {
  border-color: highlight;
  border-style: solid;
  border-width: 2px;
  margin: -2px;
  text-decoration: underline;
}

.bookmark-link {
  background-image: var(--bookmark-icon);
}

.bookmark-folder {
  background-image: url('../../../node_modules/material-design-icons/file/svg/production/ic_folder_48px.svg?fill=%23eee');
}
