[chromium]
chrome 105 # This Chrome version introduced favicons API in Manifest V3

[webext]
firefox 121 # This Firefox version introduced `:has()` support in CSS

[web]
chrome 105
firefox 121
last 1 safari version
