.folder-popup {
  --folder-position-x: 0;
  --folder-position-y: 0;
  --popup-height: auto;

  all: unset;
  backdrop-filter: blur(2px);
  background: rgba(33, 33, 33, 0.75);
  border-radius: 8px;
  box-sizing: border-box;
  color: var(--bookmark-text-color);
  display: block;
  font-family: var(--font-family-sans-serif);
  height: var(--popup-height);
  left: var(--folder-position-x);
  opacity: 1;
  position: fixed;
  top: var(--folder-position-y);
  transition: opacity 0.3s;
  user-select: none;
  width: calc(var(--bookmark-column-min-width) + 3rem);
}

.folder-popup.loading {
  opacity: 0;
}

.folder-popup-title {
  all: unset;
  display: block;
  font-size: 0.875em;
  line-height: var(--folder-title-height);
  overflow: hidden;
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookmark-list-container {
  max-height: calc(100% - var(--folder-title-height));
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  scrollbar-color: light;
  scrollbar-width: thin;
}
