<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Options</title>
    <meta name="color-scheme" content="dark" />
    <link rel="preconnect" href="https://unsplash.camellia.app" />
    <link rel="preconnect" href="https://images.unsplash.com" />
</head>
<body>
<div id="root"></div>
</body>
</html>
