@import url('../../reset.css');
@import url('../../variables.css');
@import url('../../commons.module.css');

.optionsWrapper {
  background-color: hsl(0deg 0% 15% / 90%);
  min-height: 100vh;
}

.options {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 256px 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  min-height: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.optionsNavigation {
  bottom: 0;
  padding: 1rem;
  position: sticky;
  top: 0;
}

.optionsContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  line-height: var(--text-line-height);
  padding: 1rem;
}
