.action-button {
  background-color: hsla(0, 0%, 40%, 0.75);
  border-radius: 4px;
  max-width: fit-content;
}

@keyframes backgroundStripAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(var(--chip-loading-strip-size) * -1) 0;
  }
}

.action-button--loading {
  animation: backgroundStripAnimation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--chip-loading-strip-color-1) 25%,
    var(--chip-loading-strip-color-1) 50%,
    var(--chip-loading-strip-color-2) 50%,
    var(--chip-loading-strip-color-2) 75%
  );
  background-size: var(--chip-loading-strip-size) var(--chip-loading-strip-size);
}

.action-button__control {
  border-radius: 4px;
  cursor: pointer;
  line-height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  transition: 0.5s background-color;
  user-select: none;
}

.action-button__control:focus {
  box-shadow: 0 0 0 var(--outline-width) var(--outline-color);
}

.action-button__control:not(:disabled):hover {
  background-color: hsla(0, 0%, 0%, 0.25);
  cursor: pointer;
}

.action-button__control:not(:disabled):active {
  background-color: hsla(0, 0%, 0%, 0.5);
}
