.backgroundMedia {
  height: 100%;
  object-fit: cover;
  opacity: 1;
  pointer-events: none;
  transition:
    opacity 1s,
    filter 1s;
  user-select: none;
  width: 100%;
}

.backgroundMediaLoading {
  opacity: 0;
}
