.backgroundMediaFullScreenContainer {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.backgroundMediaFullScreenContainerBackdrop {
  --background-color: hsl(0deg 0% 0% / 100%);
  background-color: var(--background-color);
  height: 100%;
  position: fixed;
  transition: background-color 1s;
  width: 100%;
  z-index: 1;
}
