.background-media-container {
  all: unset;
  display: block;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 0.5; }
}

.background-media-container--visible {
  animation: fadein 1s forwards;
}

.background-media {
  all: unset;
  display: block;
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  object-fit: cover;
  pointer-events: none;
  user-select: none;
  width: 100%;
}
