<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="dark" />
  <title>New Tab</title>
</head>
<body>
  <div id="root"></div>
  <div id="modal-root"></div>
</body>
</html>
