.bookmarkSearchField {
  background-color: var(--bookmark-background-color);
  color: var(--bookmark-text-color);
  font-size: var(--text-size-header);
  height: var(--search-bar-height);
  padding-left: 24px;
  padding-right: calc(8px + var(--search-bar-height));
  transition: background-color 0.2s;
  width: 100%;
}

.bookmarkSearchField::-webkit-search-decoration,
.bookmarkSearchField::-webkit-search-cancel-button,
.bookmarkSearchField::-webkit-search-results-button,
.bookmarkSearchField::-webkit-search-results-decoration {
  display: none !important;
}

.bookmarkSearchField::placeholder {
  color: var(--search-placeholder-color);
}

.bookmarkSearchField:hover {
  background-color: var(--bookmark-background-color-hover);
}

.bookmarkSearchField:focus-visible {
  background-color: var(--bookmark-background-color-hover);
}

.bookmarkSearchCloseButton {
  background-image: url('~mdi/filled/cancel.svg?fill=%23eee');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
  font-size: 0;
  height: var(--search-bar-height);
  position: absolute;
  right: 0;
  top: 0;
  transition: background-size 0.1s ease-in-out;
  width: var(--search-bar-height);
}

.bookmarkSearchCloseButton:focus-visible {
  background-size: 28px;
  box-shadow: inset 0 0 0 var(--outline-width) var(--outline-color);
}

.bookmarkSearchCloseButton:hover {
  background-size: 28px;
}
