.bookmarkWorkspace {
  opacity: 1;
  transition: opacity 1s;
  user-select: none;
}

.bookmarkWorkspaceLoading {
  opacity: 0;
}

.bookmarkWorkspaceCentered {
  margin: auto;
  max-width: var(--bookmark-browser-centered-width);
  width: 100%;
}
