.popup {
  --popup-position-x: 0;
  --popup-position-y: 0;
  --popup-height: auto;
  backdrop-filter: var(--acrylic-background-filter);
  border-radius: var(--dialog-border-radius);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  color: var(--bookmark-text-color);
  height: var(--popup-height);
  left: var(--popup-position-x);
  opacity: 1;
  overflow: hidden;
  position: fixed;
  top: var(--popup-position-y);
  transition: opacity 0.3s;
  user-select: none;
  width: calc(var(--bookmark-column-min-width) + 3rem);
}

.popupLoading {
  opacity: 0;
}

.popupContent {
  height: 100%;
}

.popupHeader {
  background-color: var(--acrylic-color-dark-2);
  display: grid;
  grid-auto-columns: 1fr auto;
  grid-auto-flow: column;
}

.popupTitle {
  line-height: var(--popup-title-height);
  overflow: hidden;
  padding-left: calc(1rem + var(--popup-title-height));
  padding-right: 1rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popupCloseButton {
  background-color: transparent;
  background-image: url('~mdi/filled/cancel.svg?fill=%23eee');
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--text-size-regular);
  border-radius: var(--dialog-border-radius);
  cursor: pointer;
  font-size: 0;
  height: var(--popup-title-height);
  opacity: 0.6;
  transition: opacity 0.1s ease-in-out;
  width: var(--popup-title-height);
}

.popupCloseButton:focus-visible {
  box-shadow: inset 0 0 0 var(--outline-width) var(--outline-color);
  opacity: 1;
}

.popupCloseButton:hover {
  opacity: 1;
}

.popupScrollableContainer {
  background-color: var(--acrylic-color-dark-1);
  max-height: calc(100% - var(--popup-title-height));
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding: 1rem;
  scrollbar-color: light;
  scrollbar-width: thin;
}
