.checkbox {
  background-color: hsla(0, 0%, 40%, 0.75);
  border-radius: 4px;
  max-width: fit-content;
}

@keyframes backgroundStripAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(var(--chip-loading-strip-size) * -1) 0;
  }
}

.checkbox--loading {
  animation: backgroundStripAnimation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--chip-loading-strip-color-1) 25%,
    var(--chip-loading-strip-color-1) 50%,
    var(--chip-loading-strip-color-2) 50%,
    var(--chip-loading-strip-color-2) 75%
  );
  background-size: var(--chip-loading-strip-size) var(--chip-loading-strip-size);
}

.checkbox__control {
  background-image: url('mdi/filled/check_box_outline_blank.svg?fill=%23eee');
  background-position: left 8px top 8px;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 40px;
  padding-left: 40px;
  padding-right: 8px;
  transition: 0.5s background-color;
  user-select: none;
}

.checkbox__control--indeterminate {
  background-image: url('mdi/filled/indeterminate_check_box.svg?fill=%23eee');
}

input[type='checkbox'] {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

input[type='checkbox']:disabled + .checkbox__control {
  cursor: default;
  opacity: 0.5;
}

input[type='checkbox']:focus + .checkbox__control {
  box-shadow: 0 0 0 var(--outline-width) var(--outline-color);
}

input[type='checkbox']:checked + .checkbox__control {
  background-image: url('mdi/filled/check_box.svg?fill=%23eee');
}

input[type='checkbox']:not(:disabled) + .checkbox__control:hover {
  background-color: hsla(0, 0%, 0%, 0.25);
  cursor: pointer;
}

input[type='checkbox']:not(:disabled) + .checkbox__control:active {
  background-color: hsla(0, 0%, 0%, 0.5);
}
