:root {
  --dialog-modal-max-width: 768px;
  --dialog-modal-title-height: 3rem;
}

.modalDialog {
  backdrop-filter: var(--dialog-backdrop-filter);
  background-color: var(--dialog-backdrop-color);
  bottom: 0;
  left: 0;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  padding-left: 1rem;
  padding-right: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  user-select: none;
  z-index: 1024;
}

.modalDialogBody {
  background-color: var(--dialog-background-color);
  border-radius: var(--dialog-border-radius);
  margin: 10vh auto;
  max-width: var(--dialog-modal-max-width);
}

.modalDialogHeader {
  display: grid;
  grid-auto-columns: 1fr auto;
  grid-auto-flow: column;
}

.modalDialogTitle {
  line-height: var(--dialog-modal-title-height);
  overflow: hidden;
  padding-left: calc(1rem + var(--dialog-modal-title-height));
  padding-right: 1rem;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modalDialogCloseButton {
  background-color: transparent;
  background-image: url('~mdi/filled/cancel.svg?fill=%23eee');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1rem;
  border-radius: var(--dialog-border-radius);
  cursor: pointer;
  font-size: 0;
  height: var(--dialog-modal-title-height);
  opacity: 0.6;
  transition: opacity 0.1s ease-in-out;
  width: var(--dialog-modal-title-height);
}

.modalDialogCloseButton:focus-visible {
  box-shadow: inset 0 0 0 var(--outline-width) var(--outline-color);
  opacity: 1;
}

.modalDialogCloseButton:hover {
  opacity: 1;
}

.modalDialogContent {
  padding: 1rem;
}
