.backgroundPreview {
  --screen-width: 1920;
  --screen-height: 1080;
  aspect-ratio: var(--screen-width) / var(--screen-height);
  background-color: var(--acrylic-color-dark-2);
  border: 2px solid var(--acrylic-color-light-2);
  border-radius: 8px;
  max-height: 70vh;
  overflow: hidden;
}
