body {
	overflow      : hidden;
	max-width : 100%;
	min-height : 100vh;

	background-color: #000;

	&:before {
		position           : fixed;
		top                : 0;
		left               : 0;

		width              : 100vw;
		height             : 100vh;

		content            : '';

		background-repeat  : no-repeat no-repeat;
		background-position: center;
		background-size    : cover;
		opacity            : 0;
		transition         : opacity 1s ease-in-out;

		will-change        : transform;

		z-index            : -1;
	}
}

.flex-app-container {
	min-height: 100vh;

	width: 100%;
    height: 100vh;

	display: flex;
    flex-direction: column;
}

main {
	@extend .py-1;
	@extend .pr-1;

	flex: 1 0 auto;
}

.custom-scrollbar main {
	@extend .pr-0;
}

footer {
	@extend .p-1;
	@extend .pr-2;
	@extend .small;

	text-align: right;
}

ul.bookmark-tree {

	&, ul {
		@extend .list-unstyled;
		@extend .mb-0;
	}

	ul {
		@extend .pl-1;
	}

	li {
		margin-top: 0.2rem;

		a {
			@extend .text-truncate;

			display: block;

			@include hover-focus {
				border-radius: 0.2rem;
				background-color: rgba(255, 255, 255, 0.2);

				&:before {
					display: none;
				}
			}

			&:before {
				@extend .small;
				@extend .text-muted;
				@extend .float-xs-right;

				content: attr(data-counter);
			}
		}
	}
}

.icon {
	padding: 0.2rem;
	padding-left: 2em;
	background-position: 0.5em 50%;
	background-repeat: no-repeat;
	background-size: 1em;

	&.icon-folder {
		background-image: url(/img/icons/folder.svg);
	}
}

#app {
	overflow-y: scroll;
    overflow-x: hidden;
}

body.custom-scrollbar *::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

body.custom-scrollbar *::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.15);

	&:hover {
		background-color: rgba(255, 255, 255, 0.50);
	}
}

body.custom-scrollbar *::-webkit-scrollbar-corner {
    background-color: transparent;
}

body.disabled-user-select {
	user-select: none;
}

a.underlined {
	border-bottom: 1px dotted transparentize($link-color, 0.5);
}