// Bootsrap
$enable-flex                                : true;
$body-color                             : #f7f7f9;
$link-color                             : #f7f7f9;
$link-hover-decoration                  : none;
$list-inline-padding: 0.5rem;

$modal-content-bg: rgba(0,0,0,0.9);
$modal-header-border-color: transparent;
$close-color: #fff;

$headings-font-weight: 400;
