.fade-enter-active,
.fade-leave-active {
	transition: opacity 1s;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}

.fade-faster-enter-active,
.fade-faster-leave-active {
	transition: opacity 0.3s;
}

.fade-faster-enter,
.fade-faster-leave-active {
	opacity: 0;
}