@import 'vue_transitions';

* {
	box-sizing: border-box;
}

html {
	max-height: 500px;
	height: 500px;
	width: 500px;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {
	line-height: 2;

	max-height: 500px;
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 20px;
}

a {
	cursor: pointer;
	color: -webkit-link;
	text-decoration: underline;

	&[tabindex="0"] {
		cursor: pointer;
	}
}

label {
	display: block;

	&.label {
		font-weight: bold;
	}
}

input[type='text'],
input[type='url'],
input[type='number'],
input[type='range'],
select {
	width: 100%;
	display: block;
	margin-bottom: 0.5rem;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.p-b-1 {
	padding-bottom: 1rem;
}

.text-success {
	color: #5cb85c !important;
}

.text-danger {
	color: #d9534f !important;
}

.text-fl-uppercase {
	display: inline-block;
}

.text-fl-uppercase:first-letter {
	text-transform: uppercase;
}

hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

small {
	display: block;
	line-height: 1.5;
}
