.paragraph {
  color: var(--acrylic-color-light-3);
  hanging-punctuation: first last;
  hyphens: auto;
  line-height: var(--text-line-height);
}

.paragraph a {
  cursor: pointer;
  display: inline;
  text-decoration: underline;
  touch-action: manipulation;
}
