.paragraph {
  color: var(--acrylic-color-light-3);
  hanging-punctuation: first last;
  hyphens: auto;
  line-height: var(--text-line-height);
}

.paragraph a {
  cursor: pointer;
  display: inline;
  text-decoration: underline;
  touch-action: manipulation;
}

.paragraph kbd {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px currentcolor;
  display: inline-block;
  padding: 0 4px;
}

.paragraph span {
  display: inline-block;
}
