.bookmarkWorkspace {
  opacity: 1;
  transition: opacity 1s;
  user-select: none;
}

.bookmarkWorkspaceLoading {
  opacity: 0;
}

.bookmarkWorkspaceNoBookmarks {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.bookmarkWorkspaceNoBookmarksMessage {
  color: var(--bookmark-category-title-text-color);
  text-shadow: rgb(33 33 33 / 100%) 0 0 3px;
}

.bookmarkWorkspaceNoBookmarksActions {
  padding: 1rem;
}
