@import url('../reset.css');
@import url('../variables.css');
@import url('../commons.module.css');

.newtabWrapper {
  background-color: hsl(0deg 0% 15% / 90%);
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}
