.optionsCategory input {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
}

.optionsCategoryButton {
  align-items: flex-start;
  border-radius: 4px;
  color: var(--bookmark-text-color);
  cursor: pointer;
  display: flex;
  max-width: 100%;
  text-shadow: rgb(33 33 33 / 100%) 0 0 3px;
  touch-action: manipulation;
  transition: background-color 0.2s, transform 0.2s;
  width: 100%;
}

.optionsCategoryButton:hover {
  background-color: var(--bookmark-background-color-hover);
  transform: translateY(-1px);
}

.optionsCategory input:checked + .optionsCategoryButton {
  background-color: var(--bookmark-background-color);
}

.optionsCategoryLabel {
  font-family: var(--font-family-sans-serif);
  line-height: 40px;
  overflow: hidden;
  padding-right: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.optionsCategoryIcon {
  background-image: var(--inline-icon);
  background-repeat: no-repeat;
  background-size: 24px;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 24px;
  margin: 8px;
  pointer-events: none;
  width: 24px;
}
