@import "../variables.css";

.bottom-toolbar {
  align-items: center;
  all: unset;
  display: flex;
  grid-row-end: 3;
  grid-row-start: 2;
  height: 64px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottom-toolbar__items {
  all: unset;
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  grid-gap: 1rem;
}
