@import '../variables.css';

.bottomToolbar {
  align-items: center;
  display: flex;
  height: 64px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.bottomToolbarItems {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  grid-gap: 1rem;
}
