@import "../variables.css";

.bookmark-list {
  all: unset;
  display: grid;
  justify-items: start;
  grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bookmark-category-title {
  all: unset;
  display: block;
  font-family: var(--font-family-sans-serif);
  color: var(--bookmark-category-title-text-color);
  text-transform: uppercase;
  font-weight: lighter;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;

  font-size: 0.875em;
}
