@import "../variables.css";

.bookmark-list {
  all: unset;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(var(--bookmark-column-min-width), 1fr));
  justify-items: start;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.bookmark-category-title {
  all: unset;
  color: var(--bookmark-category-title-text-color);
  display: block;
  font-family: var(--font-family-sans-serif);
  font-size: 0.875em;
  font-weight: lighter;
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
}
