@import '../variables.css';

.bookmarkCategory {
  padding: 1rem;
}

.bookmarkCategoryTitle {
  color: var(--bookmark-category-title-text-color);
  font-family: var(--font-family-sans-serif);
  margin-bottom: 1rem;
  text-shadow: rgba(33, 33, 33, 1) 0 0 3px;
  text-transform: uppercase;
}
