.bookmarkCategory {
  padding: 1rem;
}

.bookmarkCategoryTitle {
  color: var(--bookmark-category-title-text-color);
  font-family: var(--font-family-sans-serif);
  margin-bottom: 1rem;
  text-shadow: rgb(33 33 33 / 100%) 0 0 3px;
  text-transform: uppercase;
}
