@import '../variables.css';

.bookmark-category {
  margin-top: 2rem;
}

.bookmark-category__title {
  all: unset;
  color: var(--bookmark-category-title-text-color);
  display: block;
  font-family: var(--font-family-sans-serif);
  font-size: var(--text-size-regular);
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  text-transform: uppercase;
}
