.chip {
  align-items: flex-start;
  background-color: var(--acrylic-color-light-2);
  box-shadow: 2px 2px 8px 0 var(--acrylic-color-dark-1);
  cursor: pointer;
  display: flex;
  touch-action: manipulation;
  transition: background-color 0.2s, transform 0.2s;
  width: 100%;
}

.chipBlurred {
  backdrop-filter: var(--acrylic-background-filter);
}

.chipLoading :global {
  animation: background-loading-strips-animation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--loading-strip-color-1) 25%,
    var(--loading-strip-color-1) 50%,
    var(--loading-strip-color-2) 50%,
    var(--loading-strip-color-2) 75%
  );
  background-size: var(--loading-strip-size) var(--loading-strip-size);
}

.chipRounded {
  border-radius: var(--chip-rounded-border-radius);
}

.chipSquared {
  border-radius: var(--chip-squared-border-radius);
}

.chip:hover {
  background-color: var(--acrylic-color-light-3);
  transform: translateY(-1px);
}

.chip:focus-visible {
  box-shadow: inset 0 0 0 var(--outline-width) var(--outline-color);
}

.chipLabel {
  color: var(--bookmark-text-color);
  line-height: 32px;
  overflow: hidden;
  padding-right: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chipIcon {
  align-items: center;
  display: flex;
  fill: var(--bookmark-text-color);
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 16px;
  justify-content: center;
  margin: 8px;
  pointer-events: none;
  transition: opacity 0.5s;
  width: 16px;
}

.chipIconRemoteRasterImage {
  display: block;
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  transition: opacity 0.5s;
}

.chipIconRemoteRasterImageLoading {
  opacity: 0;
}

.chipIconInlinedSvg svg {
  fill: var(--bookmark-text-color);
  height: 16px;
  width: 16px;
}

.chipIconEllipse {
  border-radius: 50%;
  overflow: hidden;
}
