.dropdownSelect {
  background-color: hsl(0deg 0% 40% / 75%);
  border-radius: 4px;
  max-width: fit-content;
}

.dropdownSelectLoading :global {
  animation: background-loading-strips-animation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--loading-strip-color-1) 25%,
    var(--loading-strip-color-1) 50%,
    var(--loading-strip-color-2) 50%,
    var(--loading-strip-color-2) 75%
  );
  background-size: var(--loading-strip-size) var(--loading-strip-size);
}

.dropdownSelectControl {
  background-image: url('mdi/filled/arrow_drop_down.svg?fill=%23eee');
  background-position: right 8px top 8px;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 40px;
  padding-left: 8px;
  padding-right: 48px;
  transition: 0.5s background-color;
  user-select: none;
}

.dropdownSelectControl:focus {
  box-shadow: 0 0 0 var(--outline-width) var(--outline-color);
}

.dropdownSelectControl:not(:disabled):hover {
  background-color: hsl(0deg 0% 0% / 25%);
}
