.dropdown-select {
  all: unset;
  background-color: hsla(0, 0%, 40%, 0.75);
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  max-width: fit-content;
}

@keyframes backgroundStripAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(var(--chip-loading-strip-size) * -1) 0;
  }
}

.dropdown-select--loading {
  animation: backgroundStripAnimation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--chip-loading-strip-color-1) 25%,
    var(--chip-loading-strip-color-1) 50%,
    var(--chip-loading-strip-color-2) 50%,
    var(--chip-loading-strip-color-2) 75%
  );
  background-size: var(--chip-loading-strip-size) var(--chip-loading-strip-size);
}

.dropdown-select__control {
  all: unset;
  background-image: url('mdi/filled/arrow_drop_down.svg?fill=%23eee');
  background-position: right 8px top 8px;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 13px;
  line-height: 40px;
  padding-left: 8px;
  padding-right: 48px;
  transition: 0.5s background-color;
  user-select: none;
}

.dropdown-select__control:focus {
  box-shadow: 0 0 0 var(--outline-width) var(--outline-color);
}

.dropdown-select__control:not(:disabled):hover {
  background-color: hsla(0, 0%, 0%, 0.25);
}
