.labeled-dropdown-select {
  all: unset;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.labeled-dropdown-select__label-and-control-wrapper {
  all: unset;
  display: block;
  max-width: fit-content;
}

.labeled-dropdown-select__label {
  all: unset;
  display: block;
  font-size: var(--text-size-header);
  margin-bottom: 1rem;
}

.labeled-dropdown-select__control {
  all: unset;
  display: block;
}
