.labeled-dropdown-select {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.labeled-dropdown-select__label-and-control-wrapper {
  max-width: fit-content;
}

.labeled-dropdown-select__label {
  font-size: var(--text-size-header);
  margin-bottom: 1rem;
}
