.actionButton {
  backdrop-filter: var(--acrylic-background-filter);
  background-color: var(--acrylic-color-light-2);
  border-radius: 4px;
  cursor: pointer;
  max-width: fit-content;
  transition: 0.5s background-color;
}

.actionButton:has(button:disabled) {
  cursor: default;
  opacity: 0.5;
}

.actionButton:has(button:focus) {
  box-shadow: 0 0 0 var(--outline-width) var(--outline-color);
}

.actionButton:has(button:not(:disabled):hover) {
  background-color: var(--acrylic-color-light-3);
}

.actionButton:has(button:not(:disabled):active) {
  background-color: var(--acrylic-color-light-1);
}

.actionButtonLoading :global {
  animation: background-loading-strips-animation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--loading-strip-color-1) 25%,
    var(--loading-strip-color-1) 50%,
    var(--loading-strip-color-2) 50%,
    var(--loading-strip-color-2) 75%
  );
  background-size: var(--loading-strip-size) var(--loading-strip-size);
}

.actionButtonControl {
  line-height: 40px;
  max-width: 100%;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}
