.labeledTextField {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.labeledTextFieldLabelAndControlWrapper {
  max-width: fit-content;
}

.labeledTextFieldLabel {
  color: var(--acrylic-color-light-3);
  font-size: var(--text-size-header);
  margin-bottom: 1rem;
}
