.chip {
  align-items: flex-start;
  background-color: var(--bookmark-background-color);
  color: var(--bookmark-text-color);
  cursor: pointer;
  display: flex;
  text-shadow: rgb(33 33 33 / 100%) 0 0 3px;
  touch-action: manipulation;
  transition: background-color 0.2s, transform 0.2s;
  width: 100%;
}

.chipLoading :global {
  animation: background-loading-strips-animation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--loading-strip-color-1) 25%,
    var(--loading-strip-color-1) 50%,
    var(--loading-strip-color-2) 50%,
    var(--loading-strip-color-2) 75%
  );
  background-size: var(--loading-strip-size) var(--loading-strip-size);
}

.chipRounded {
  border-radius: var(--chip-rounded-border-radius);
}

.chipSquared {
  border-radius: var(--chip-squared-border-radius);
}

.chip:hover {
  background-color: var(--bookmark-background-color-hover);
  transform: translateY(-1px);
}

.chip:focus-visible {
  box-shadow: inset 0 0 0 var(--outline-width) var(--outline-color);
}

.chipLabel {
  line-height: 32px;
  overflow: hidden;
  padding-right: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chipIcon {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 16px;
  margin: 8px;
  pointer-events: none;
  width: 16px;
}
