@import '../variables.css';

.chip {
  cursor: pointer;
  touch-action: manipulation;
}

.chip__body {
  align-items: flex-start;
  background-color: var(--bookmark-background-color);
  color: var(--bookmark-text-color);
  display: flex;
  max-width: 100%;
  text-shadow: rgba(33, 33, 33, 1) 0 0 3px;
  transition: background-color 0.2s, transform 0.2s;
}

.chip__body--loading {
  animation: backgroundStripAnimation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--chip-loading-strip-color-1) 25%,
    var(--chip-loading-strip-color-1) 50%,
    var(--chip-loading-strip-color-2) 50%,
    var(--chip-loading-strip-color-2) 75%
  );
  background-size: var(--chip-loading-strip-size) var(--chip-loading-strip-size);
}

@keyframes backgroundStripAnimation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(var(--chip-loading-strip-size) * -1) 0;
  }
}

.chip__body--rounded {
  border-radius: var(--chip-rounded-border-radius);
}

.chip__body--squared {
  border-radius: var(--chip-squared-border-radius);
}

.chip__body:hover {
  background-color: var(--bookmark-background-color-hover);
  transform: translateY(-1px);
}

.chip:focus-visible .chip__body {
  box-shadow: inset 0 0 0 var(--outline-width) var(--outline-color);
}

.chip__label {
  font-family: var(--font-family-sans-serif);
  line-height: 32px;
  overflow: hidden;
  padding-right: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chip__icon {
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 16px;
  margin: 8px;
  pointer-events: none;
  width: 16px;
}
