:root {
  height: 100%;
}

body {
  background-color: #000;
  color: var(--bookmark-text-color);
  font-family: var(--font-family-sans-serif);
  font-size: var(--text-size-regular);
  height: 100%;
  overscroll-behavior-x: none;
}

/* stylelint-disable-next-line keyframes-name-pattern */
@keyframes :global(background-loading-strips-animation) {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: calc(var(--loading-strip-size) * -1) 0;
  }
}

kbd {
  border-radius: 4px;
  box-shadow: inset 0 0 0 1px currentcolor;
  display: inline-block;
  padding: 0 4px;
}
