<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CAMELLIA 2</title>
  <style>
    body {
      all: unset;
      display: block;
      background-color: #000;
    }
  </style>

  <% if (htmlWebpackPlugin.options.liveReload.enabled === true) { %>
  <script src="<%= htmlWebpackPlugin.options.liveReload.scriptUrl %>"></script>
  <% } %>
</head>
<body>
  <div id="root"></div>
</body>
</html>
