<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New Tab</title>
  <style>
    :root {
      height: 100%;
    }

    body {
      all: unset;
      background-color: #000;
      height: 100%;
      display: block;
      overscroll-behavior-x: none;
    }

    #root {
      min-height: 100%;
      display: grid;
      grid-template-rows: 1fr auto;
    }
  </style>
</head>
<body>
  <div id="root"></div>
</body>
</html>
