<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CAMELLIA 2</title>
  <style>
    body {
      all: unset;
      display: block;
      background-color: #000;
    }
  </style>

  <% if (process.env.NODE_ENV === 'local') { %>
  <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>
  <div id="root"></div>
</body>
</html>
