a,
abbr,
address,
area,
article,
aside,
audio,
b,
bdi,
bdo,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
data,
datalist,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
map,
mark,
meter,
nav,
object,
ol,
output,
p,
param,
picture,
pre,
progress,
q,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
small,
source,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
track,
u,
ul,
var,
video,
wbr {
  all: unset;
  box-sizing: border-box;
  display: block;
}
