:root {
  --acrylic-color-light-1: rgb(255 255 255 / 50%);
  --acrylic-color-light-2: rgb(255 255 255 / 75%);
  --acrylic-color-light-3: rgb(255 255 255 / 90%);
  --acrylic-color-dark-1: rgb(33 33 33 / 75%);
  --acrylic-color-dark-2: rgb(33 33 33 / 90%);
  --acrylic-background-filter: blur(2px);
  --bookmark-category-title-text-color: #eee;
  --bookmark-column-min-width: 235px;
  --bookmark-text-color: #000;
  --bookmark-browser-centered-columns: 6;
  --bookmark-browser-centered-width: calc(
    var(--bookmark-column-min-width) * var(--bookmark-browser-centered-columns) + 1rem *
      (var(--bookmark-browser-centered-columns) - 1) + 2rem
  );
  --chip-rounded-border-radius: 1rem;
  --chip-squared-border-radius: 0.5rem;
  --chip-hover-shift: 1px;
  --chip-max-width: max(var(--bookmark-column-min-width), 350px);
  --font-family-sans-serif: -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, 'Helvetica Neue', arial, 'Noto Sans',
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --loading-strip-size: 20px;
  --loading-strip-color-1: rgb(255 255 255 / 40%);
  --loading-strip-color-2: rgb(255 255 255 / 80%);
  --outline-color: #0288d1;
  --outline-width: 0.125rem; /* 2px */
  --popup-title-height: 40px;
  --dialog-border-radius: 8px;
  --dialog-backdrop-color: rgb(0 0 0 / 50%);
  --search-bar-height: 64px;
  --search-placeholder-color: rgb(238 238 238 / 60%);
  --text-size-regular: 13px;
  --text-size-header: 16px;
  --text-line-height: 1.5;
}
