.textField {
  backdrop-filter: var(--acrylic-background-filter);
  background-color: var(--acrylic-color-light-2);
  border-radius: 4px;
  cursor: text;
  transition: 0.5s background-color;
  width: 20rem;
}

.textField:has(input:disabled) {
  cursor: default;
  opacity: 0.6;
}

.textField:has(input:focus) {
  box-shadow: 0 0 0 var(--outline-width) var(--outline-color);
}

.textField:has(input:not(:disabled):hover) {
  background-color: var(--acrylic-color-light-3);
}

.textFieldFluid {
  width: 100%;
}

.textFieldLoading :global {
  animation: background-loading-strips-animation 1s linear infinite reverse;
  background-image: repeating-linear-gradient(
    135deg,
    var(--loading-strip-color-1) 25%,
    var(--loading-strip-color-1) 50%,
    var(--loading-strip-color-2) 50%,
    var(--loading-strip-color-2) 75%
  );
  background-size: var(--loading-strip-size) var(--loading-strip-size);
}

.textFieldControl {
  line-height: 40px;
  padding-left: 8px;
  padding-right: 8px;
  user-select: none;
  width: 100%;
}

.textFieldControl::placeholder {
  color: var(--acrylic-color-dark-1);
  opacity: 1;
}

.textFieldControl:focus::placeholder {
  opacity: 0;
}

.textFieldControl:invalid {
  text-decoration: underline wavy hsl(0deg 100% 50% / 90%);
}
