name: Build

on: pull_request

jobs:
  build:
    name: Webpack (${{ matrix.targetPlatform }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        targetPlatform: [chromium, webext, web]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Get npm cache directory
        id: npm-cache
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Cache npm dependencies
        uses: actions/cache@v3.0.5
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install npm dependencies
        run: npm ci --prefer-offline

      - name: Run Webpack
        run: npx webpack
        env:
          NODE_ENV: production
          APP_VERSION: '2.0.0'
          BUILD_NUMBER: ${{ github.run_number }}
          TARGET_PLATFORM: ${{ matrix.targetPlatform }}
          UNSPLASH_BRIDGE_BASE_HOST: https://unsplash.camellia.app
          WEBSITE_ICONS_PROXY_BASE_HOST: https://website-icons.camellia.app

  storybook:
    name: Storybook
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Get npm cache directory
        id: npm-cache
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Cache npm dependencies
        uses: actions/cache@v3.0.5
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install npm dependencies
        run: npm ci --prefer-offline

      - name: Build Storybook
        run: npx build-storybook
