name: Build

on: pull_request

jobs:
  build:
    name: Build (${{ matrix.targetPlatform }})
    runs-on: ubuntu-latest

    strategy:
      matrix:
        targetPlatform: [chromium, webext, web]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: .nvmrc

      - name: Get npm cache directory
        id: npm-cache
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Cache npm dependencies
        uses: actions/cache@v3.3.1
        with:
          path: ${{ steps.npm-cache.outputs.dir }}
          key: ${{ runner.os }}-npm-production-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-production-
            ${{ runner.os }}-npm-

      - name: Install npm dependencies
        run: npm ci --omit=dev --prefer-offline

      - name: Run Webpack
        run: npx webpack
        env:
          NODE_ENV: production
          APP_VERSION: '2.0.0'
          TARGET_PLATFORM: ${{ matrix.targetPlatform }}
