name: Dependencies

on: pull_request

permissions:
  contents: read

jobs:
  dependency_review:
    name: Dependency review
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Review dependencies
        uses: actions/dependency-review-action@v2
