name: Git

on: pull_request

jobs:
  commitlint:
    name: Conventional Commits
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Run commitlint
        uses: wagoid/commitlint-github-action@v5.3.1
        with:
          configFile: .commitlintrc.json
